# Example aliases
# vim: set syntax:sh

## GCC ############################################
CFLAGS='-Wall -Wextra -Wpedantic'
CALLFLAGS='-pedantic -Wall -Wextra -Wcast-align -Wcast-qual -Wdisabled-optimization -Wformat=2 -Winit-self -Wlogical-op -Wmissing-declarations -Wmissing-include-dirs -Wredundant-decls -Wsign-conversion -Wstrict-overflow=5 -Wswitch-default -Wundef -Werror -Wno-error=unused-parameter'

CTRIGRAPHS="-trigraphs -Wno-trigraphs"
CINCLUDEDIR="-I$HOME/dev/fstdlib/"

CCFLAGS="-std=c11 $CALLFLAGS $CTRIGRAPHS $CINCLUDEDIR"

CXXALLFLAGS="$CALLFLAGS -Wctor-dtor-privacy -Wnoexcept -Wold-style-cast -Woverloaded-virtual -Wsign-promo -Wstrict-null-sentinel"
CXXFLAGS="-std=c++1y $CXXALLFLAGS  $CTRIGRAPHS $CINCLUDEDIR"

alias gcc="gcc $CCFLAGS"
alias cc="cc $CCFLAGS"

alias g++="g++ $CXXFLAGS"
alias c++="c++ $CXXFLAGS"

## LS #############################################
alias l="ls -l"
alias la="ls -a"
alias lah="ls -lah"
alias ll="ls -la"
alias ls='ls --group-directories-first --color=auto'
alias lsize="ls -lah  | sort -k5 -h"

## DU #############################################
alias duh="du -h"
alias dfh="df -h"

## ADMIN ##########################################
alias :wq="sudo systemctl suspend"
alias mountt="mount | column -t"

## MISC ###########################################
alias 'ps?'='ps aux | grep '
alias fag='ag -g'
alias fuck='sudo $(fc -nl -1)'
alias gbn='git branch-name'
alias gitroot='cd $(git root)'
alias pshell='perl -MPerl::Shell -e "Perl::Shell::shell();"'
alias t='task'
alias tailf='tail -F'
alias today="date +%y-%m-%d"
alias trnl='tr "\n" " "'
alias whoami='echo root'
alias zz='exec zsh'

unalias _ # like I'm going to use it


## MISC FUNCTIONS #################################
# uploads input to private haste server
haste() {
	a=$(cat)
	curl -X POST -s -d "$a" https://haste.florkiewicz.me/documents | awk -F '"' '{print "http://haste.florkiewicz.me/"$4}';
}

## LOAD ALIAS MODULES #############################
[[ -d ~/.aliases.d/ ]] && for i in ~/.aliases.d/* ; do

    . $i
done

## UNALIAS ########################################
unalias _ # like I'm going to use it

# vim: set syntax:shell
