# lets not put our private keys on github, shall we 
/ssh/.ssh/private/*
/ssh/.ssh/public/*
/ssh/.ssh/known_hosts
/ssh/.ssh/environment-*

*.swp

# vim specific directories, since plugins are managed by plug.vim
/vim/.vim/plugged/
