### ignore everything
/*

### except

## vim
!.vim/
!.vimrc

## zsh
!.oh-my-zsh
!.zshrc

## ssh (careful there!)
!.ssh/
.ssh/*
!.ssh/config

## mutt
!.muttrc

## git
!.gitignore
!.gitconfig
!.gitmodules
